/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/*Mix-in Start*/
.textboarder {
  background-color: #D3D3D3;
  font-size: 2rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-width: 4px;
  padding: 5px;
}
.center {
  display: flex;
  justify-content: center;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
/*Mix-in STOP*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #708090;
}
h1 {
  font-size: 4rem;
  margin: 5%;
  display: flex;
  justify-content: center;
}
.intro {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
.intro .intro-words {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2% 20%;
}
@media (max-width: 400px) {
  .intro .intro-words {
    width: 100%;
  }
}
.intro .intro-words h2 {
  font-size: 2rem;
}
.intro .intro-words p {
  display: flex;
  justify-content: center;
  background-color: #D3D3D3;
  font-size: 2rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-width: 4px;
  padding: 5px;
}
.intro .intro-image {
  display: flex;
  justify-content: center;
}
.intro .intro-image img {
  width: 40%;
  height: auto;
  background-color: #D3D3D3;
  font-size: 2rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-width: 4px;
  padding: 5px;
}
nav {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  color: black;
  background-color: #D3D3D3;
  font-size: 2rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-width: 4px;
  padding: 5px;
}
.Experiance {
  flex-direction: row;
  justify-content: center;
  background-color: #A9A9A9;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.Experiance h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.Experiance div {
  width: 20%;
  margin: 8%;
  border-style: solid;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-width: 4px;
  padding: 5px;
}
.SKILLS {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.SKILLS div {
  width: 20%;
  background-color: #D3D3D3;
  font-size: 2rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-width: 4px;
  padding: 5px;
}
.SKILLS h2 {
  background-color: #D3D3D3;
  font-size: 2rem;
  border-style: solid;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-width: 4px;
  padding: 5px;
  font-size: 200%%;
}
.SKILLS .Sales {
  font-size: 150%;
}
.SKILLS .TechnicalSkills {
  font-size: 150%;
}
